body{
    background-color: #F9E5ED;
}
header img{
    margin: -1rem;
    margin-top: -6rem;
    margin-bottom: -5rem;
}
h1, h2, h3, form, nav, a{
    font-family: "ladislav", sans-serif;
    font-weight: 700;
    font-style: normal;
}
p, ul{
    font-family: "ladislav", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header nav>a{
    background-color: #40296D;
    color: #F9E5ED;
    padding: 1rem;
    margin: -1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    text-decoration: none;
    border-bottom: 2px solid #F9E5ED;
}
nav a:hover{
    background-color: #EE2C64;
}